
.cartViewContainer{
    width: 100%;

}

.CartCard{
    margin-top: 20px;
    text-align: center;
    box-shadow: rgb(0 0 0 / 25%) 0px 54px 55px, rgb(0 0 0 / 12%) 0px -12px 30px, rgb(0 0 0 / 12%) 0px 4px 6px, rgb(0 0 0 / 17%) 0px 12px 13px, rgb(0 0 0 / 9%) 0px -3px 5px;
}

.CartCard h4{
    text-decoration: underline;

}

.CartCard img{
    width: 100px;

    margin-right: 20px;
}

.CartCardDetail{
    display: flex;
    flex-direction: row;
    padding: 20px;
    align-items: center;
}

.CartCardDetail span{
    color: darkblue;
    margin-right: 15px;
    font-weight: 700;
}

.CartCardDetail h4{
    margin-right: 20px;
}

h3{
    text-align: center;
}

.textTotal{
text-align: center;
}

.btnCart{
    margin-left: auto;
}
.carroVacio{
    margin-top: 100px;
}

.carroVacio h2{
    margin-bottom: 100px;
}

@media only screen and (max-width: 800px) {



    .CartCard{
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    }

    .CartCardDetail{
        display: flex;
        flex-direction: column;
        padding: 20px;
        align-items: center;
    }

    .btnCart{
        margin-right: auto;
        margin-top: 10px;
    }
}
@media only screen and (max-width: 520px) {



    .CartCard{
    width: 100%;

    }

}
