.form-container{
    display: flex;
justify-content: center;
margin-top: 50px;
margin-bottom: 50px;
}

.form-item{
    font-family: 'Playfair Display', serif;
    font-weight: 600;
    margin-bottom: 10px;
}

.form-item label{
    margin-right: 10px;
    margin-bottom: 5px;
    display: block;

}

.form-item input{
    font-family: 'Playfair Display', serif;
    font-weight: 500;
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    width: 300px;
}

.btnFinalizar{
    margin-top: 20px;
}